development:
  adapter: postgresql
  encoding: utf8
  database: contacts_manager
  username: postgres
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: contacts_manager_test
  username: postgres
  password:
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: contacts_manager_prod
  username: postgres
  password:
  host: localhost